/* =========================================
SALAD CLUB TOP SECTION
============================================ */

.salad{
	height: calc(100vh - 30px);
	min-height: 700px;
  background: url(../assets/background-wood.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	  display:flex;

}

/* ------------  SALAD DISPLAY  ------------ */

.salad__display{
	width: 50%;
	position: relative;
	@include centerXY;
}

.salad-bowl{
	position: relative;
	width: 90%;
}

.img-bowl{
	width: 100%;
	height: auto;
}

.img-salad-base{
	position:absolute;
	top:7%;
	left: 8%;
	width: 80%;
	visibility:hidden;
	z-index: 5;
}

.salad-ingredients{
	width: 80%;
	z-index: 10;
	top: 0;
	img{
		position: absolute;
		width: 5%;
		height: auto;
	}
}

.visible{
  visibility: visible
}

.displayOnSalad{
	position: absolute;
	z-index: 50;
	width: 30px;
}

/* ------------  SALAD INFO  ------------ */

.salad__header{
  width: 50%;
	@include centerXY;
	flex-flow: column nowrap;
	text-align: center;
}

.salad__base__buttons{
  display:flex;
  justify-content: center;
}

