/* =========================================
SALAD CLUB TOP SECTION
============================================ */

main{
  // height: 100vh;
  background: url(../assets/background-wood.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}

/* ------------  NAV BAR  ------------ */

nav{
  display: flex;
  background: rgba(0, 0, 0, 0.6);
}

.header__nav{
  display: flex;
  justify-content: space-between;

  ul li{
    padding: 10px;
  }
}


/* =========================================
SALAD SECTION
============================================ */


.salad{
  display:flex;
}

/* ------------  SALAD DISPLAY  ------------ */

.salad__display,{
  width: 50%;
  border: 1px solid green;
}

.salad-bowl{
	position: relative;
}

.img-bowl{
	width: 100%;
	position: absolute;
	z-index: 3
}

.img-salad-base{
	position:absolute;
	width: 90%;
	height: auto;
	visibility:hidden;
	z-index: 5;
}

.visible{
  visibility: visible
}

.displayOnSalad{
	position: absolute;
	z-index: 50;
	width: 30px;
}

/* ------------  SALAD INFO  ------------ */

.salad__content{
  width: 50%;
  border: 1px solid pink;
  text-align: center;
}

.salad__base{
  display:flex;
  justify-content: center;
}

// SELECTED INGREDIENTS 


.salad__info--ingreds{
  margin: 20px;
  display:flex;
  flex-flow: row wrap;
}

.ingreds__item{
  // margin: 5px;
  background: white;
  width: 48%;
  border: 2px solid black;
  padding: 10px;
  display: flex;
}

.ingreds__img{
  border: 1px solid black;
  width: 75px;
	height: 75px;
	& img{
		width: 100%;
		height: auto;
	}



}

.ingreds__info--text{
margin-left: 20px;
}