/* =========================================
ABOUT YOUR SALAD
============================================ */

.saladInfo{
	display: flex;
background-color: #dbe5e1;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='44' viewBox='0 0 34 44'%3E%3Cg fill='%238fa591' fill-opacity='0.35'%3E%3Cpath fill-rule='evenodd' d='M1 6.2C.72 5.55.38 4.94 0 4.36v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 22 12.04 12.04 0 0 0 1 28.2c-.28-.65-.62-1.26-1-1.84v13.28c.38-.58.72-1.2 1-1.84A12.04 12.04 0 0 0 7.2 44h21.6a12.05 12.05 0 0 0 5.2-4.36V26.36A12.05 12.05 0 0 0 28.8 22a12.05 12.05 0 0 0 5.2-4.36V4.36A12.05 12.05 0 0 0 28.8 0H7.2A12.04 12.04 0 0 0 1 6.2zM17.36 23H12a10 10 0 1 0 0 20h5.36a11.99 11.99 0 0 1 0-20zm1.28-2H24a10 10 0 1 0 0-20h-5.36a11.99 11.99 0 0 1 0 20zM12 1a10 10 0 1 0 0 20 10 10 0 0 0 0-20zm0 14a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2zM12 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 43a10 10 0 1 0 0-20 10 10 0 0 0 0 20zm0-14a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3.46 2a2 2 0 1 0 3.47-2 2 2 0 0 0-3.47 2zm0 4a2 2 0 1 0 3.47 2 2 2 0 0 0-3.47-2zM24 37a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-3.46-2a2 2 0 1 0-3.47 2 2 2 0 0 0 3.47-2zm0-4a2 2 0 1 0-3.47-2 2 2 0 0 0 3.47 2z'/%3E%3C/g%3E%3C/svg%3E");
	padding: 30px;

	@include mq(med){
		flex-flow: column nowrap;
	}
}

.saladInfo__nutrition{
	width: 40%;
	@include mq(med){
		width:70%;
		margin: 0 auto;
	}
}

.nutrition__display{
	background: white;
	border: 3px solid black;
	padding: 20px 30px;
	margin: 40px 50px;
}

.nutrient__line{
	@include sp-btw;
	border-bottom: 1px solid black;
	margin: 0;
	padding: 5px;
}

.thinBorder{
	border-bottom: 1px solid black;
}

.medBorder{
	border-bottom: 3px solid black;
}

.thickBorder{
	border-bottom: 5px solid black;
}



/* ------------  SALAD INGREDIENTS DISPLAY  ------------ */

.saladInfo__ingreds{
	width: 60%;
	@include mq(med){
		width: 80%;
		margin: 0 auto;
	}
}

.saladInfo--ingreds--container{
  margin: 20px auto;
  display:flex;
	flex-flow: row wrap;
}

.ingreds__item{
  background: white;
	border: 2px solid black;
	margin: 20px;
  width: calc(50% - 40px);
  padding: 20px;
	display: flex;
	@include mq(sm){
		margin: 0 auto;
		width: 80%;
		flex-flow: column nowrap;
	}
}

.ingreds__img{
  border: 1px solid black;
  width: 75px;
	height: 75px;
	& img{
		width: 100%;
		height: auto;
	}
}
