/* =========================================
TYPOGRAPHY STYLES
============================================ */

/* ------------  FONTS  ------------ */

$title: 'Passion One', cursive;
$heading : 'Questrial', sans-serif;
$para: 'Raleway', sans-serif;


/* ------------  BASE STYLES  ------------ */

h1{


}

h2{

  
}