/* =========================================
UTILITIES
============================================ */


// Button Styles

button{
  padding: 10px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: $sans;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.btn-base{
  width: 150px;
  background-color: green;

}

.btn-base:active{
  background: darkgreen;
  transition: background .3s ease-in-out
}

.btn-mix{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


