/* =========================================
SALAD CLUB!! A FUN JQUERY PROJECT
BY LAURA-LOUISE TOBIN
PROJECT #3 - HACKER YOU BOOTCAMP 2018
============================================ */

@import "setup";
@import "var-mix";

/* =========================================
BASE STYLES
============================================ */

html{
  font-size: 62.5%;
}

img{
  max-width: 100%;
  display: block;
}

ul{
  list-style: none;
	padding-left: 0px;

}

.wrapper{
	max-width: 1700px;
	margin: 0 auto;
}

a{
	text-decoration: none;
}


/* =========================================
SECTION STYLES
============================================ */


@import "typography";
@import "utils";

@import "components/main";
@import "components/salad-info";
@import "components/about";
@import "components/footer";