/* =========================================
SALAD CLUB!! A FUN JQUERY PROJECT
BY LAURA-LOUISE TOBIN
PROJECT #3 - HACKER YOU BOOTCAMP 2018
============================================ */

@import "setup";
@import "var-mix";

/* =========================================
BASE STYLES
============================================ */

html{
  font-size: 62.5%;
}

img{
  width: 100%;
  display: block;
}

ul{
  list-style: none;
  // REMOVE PADDING FOR MOZ AND WEBKIT
}


/* =========================================
SECTION STYLES
============================================ */


@import "typography";
@import "utils";

@import "components/header";
@import "components/main";
@import "components/nutrition";
@import "components/footer";